@font-face {
    src: url('Assets/cs4-proj-font.ttf');
}

* {
    -fx-font-family: "CS4-Proj. Font";
    -fx-font-size: 21;
    -fx-font-color: black;
    -fx-text-fill: black;
}

Button {
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-padding: -6 9 -3 9;
}