HBox {
    -fx-background-image: url('../Assets/gameBorder.png');
    -fx-background-repeat: no-repeat;
}

.kitchen-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.iconButton {
    -fx-border-color: null;
    -fx-border-width: 0;
    -fx-background-color: null;
    -fx-padding: 0;
}

.split-pane-divider {
    -fx-padding: 7.5;
    -fx-pref-height: 0;
    -fx-background-image: url('../Assets/pantryHandle.png');
    -fx-background-repeat: no-repeat;
}

.pantry-pane {
    -fx-padding: 0;
}

.pantry {
    -fx-background-image: url('../Assets/pantryBg.png');
    -fx-background-repeat: repeat-y;
}

.shelf {
    -fx-background-image: url('../Assets/shelf.png')
}