GridPane {
    -fx-padding: 0;
}

.slider {
    -fx-major-tick-unit: 1;
}

.slider .thumb {
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-font-size: 0;
    -fx-pref-width: 15;
    -fx-pref-height: 28;
}

.slider .track {
    -fx-background-color: #C0C0C0;
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-pref-height: 24;
    -fx-pref-width: 312;
    -fx-background-insets: 0; 
    -fx-background-radius: 0;
    -fx-border-insets: 0;
    -fx-padding: 0;
    -fx-margin: 0;
}